<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="dumbster.json"></script>
    <script type="text/javascript" src="dataCatcher.js"></script>
    <script type="text/javascript" src="printer.js"></script>
    <link rel="stylesheet", href="design.css">
    <title>Autolog</title>
  </head>
  <body>
    <center>s
        <h1 id="h1">Autolog</h1>
        <h2 id="h2">Projeto em parceria com o curso técnico de Automação.</h2><br>
        <h3 id="h3">Tabuleta</h3>
    </center>
    <br>
    <center>
      <table id="tabuleta" width="500px" border="1" title="Table">
        <tr>
          <th>Data</th>
          <th>Temperatura</th>
          <th>Umidade</th>
        </tr>
        <tr>
          <td id="daten"> <script type="text/javascript" > oi = document.getElementById("daten").innerHTML = printDate(); </script> </td>
          <td id="temp"> <script type="text/javascript" > oi = document.getElementById("temp").innerHTML = printTemp(); </script> </td>
          <td id="umid"> <script type="text/javascript" > oi = document.getElementById("umid").innerHTML = printUmid(); </script> </td>
        </tr>
      </table>
    </center>
  </body>
</html>
