<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet", href="/static/design.css">
    <link rel="icon" href="/static/teste.png">
    <title>Autolog</title>
  </head>
  <body>
    <center>
        <img src="/static/teste.png" height="320" width="320">
        <h1 id="h1">Autolog (ver-0.1.1)</h1>
        <h2 id="h2">Projeto em parceria com o curso técnico de Automação.</h2><br>
        <h4 id= "h4">
        * Bem-vinda(o) à Mini-Estação Meteorológica Autolog℠<br>
          Com o intuito de sermos reconhecidos pelo <br>
        INMET (Instituto Nacional de Meteorologia),(<a href="http://www.inmet.gov.br/portal/index.php?r=clima/boletimRioGrandeDoSul" style="color:cyan;">i</a>)<br>
        apresentamos o Autolog. <br>
        <br>
        * IFRS Campus Rio Grande - © all rights reseverd.
        </h4>
        <h5 id="h5" style="color:#FF0045;font-size:24px;">Abstract</h5>
        <h6 id="h6" style="color:#FF0045;font-size:16px;">
        O Autolog possui um sensor que coleta dados do ambiente. <br>
        Estes dados serão armazenados em uma máquina, que, posteriormente, <br>
        serão coletados por um servidor. <br>
        Poderás então dar-nos um intervalo de tempo <br>
        onde verás as alterações dos dados por ti escolhidos.</h6>

        <!-- TODO: Coletar o intervalo de tempo e fazer a tabela em outro html;
                   Fazer os gráficos;
                   Pegar o "log.txt" da máquina do Maurício;
        -->

        <h3 id="h3">Intervalo de Tempo</h3>
        Início <input type="date" id="start"> </input>
        <input type="date" id="finish"> </input> Final <br> <br>
        <input type="button" id="submit" onclick="doIT()" value="Enviar"></input>

    </center>
    <script type="text/javascript" src="/static/dataTable.js"></script>
  </body>
</html>
