<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/design2.css"> </link>
    <title>Tabela gerada</title>
  </head>
  <body>
    <center>
      <table id="tabuleta" width="500px" border="1" title="Table">
        <tr>
          <th>Data</th>
          <th>Temperatura</th>
          <th>Umidade</th>
        </tr>
        <tbody>

        </tbody>
      </table>
    </center>
    <script type="text/javascript" src="/static/dataCatcher.js"></script>
  </body>
</html>
