@font-face {
  font-family: "maBoy";
  src: url("http://localhost:5000/static/cons.ttf");
}

body {
  font-family: "maBoy";
  background-color: #001212;
  color: #00FF88;
}

#tabuleta {
  color: #00FF88;
  font-size: 20px;
  background: #001111;
  border: 2px solid;
  text-align: left;
  display: block;
  border-color: #0099FF;
}
